.recommend{
    color:blue;
}

.container{
    width:80%;
    height:100%;
}

.content_box{
    padding:45px;
    background-color:white;
    border-radius:5px;
    border:1px solid lightgray;
}

.modify, .delete{
    color:red;
}

.modify:hover, .delete:hover{
    text-decoration:underline;
}

table{
    width:100%;
}

td:first-child{
    width:20%;
}

.modified_text{
    color:gray;
}

.recommend{
    color:black;
}

.comment{
    font-size:12px;
    border:none;
    background:none;
    cursor:pointer;
    color:gray;
}

.comment_area{
    height: 1.25em;
    border:none;
    width:30%;
    resize:none;
    padding:10px;
    background-color: whitesmoke;
}

.comment_area::placeholder{
    color:black;
}

.comment_area:hover{
    background-color:white;
}



